@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);

$julius-sans-one: "Julius Sans One", sans-serif;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10vh 80vh 10vh;
}

.header {
  font-family: $julius-sans-one;
  color: white;
  background: rgb(38, 38, 48);
  display: flex;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 4;

  header {
    width: 90%;
    display: inline-block;
    vertical-align: middle;
    padding-left: 30px;
    justify-content: flex-start;
  }

  .new-task {
    padding-right: 30px;
  }

  a.new-task-btn {
    text-decoration: none;
    padding: 8px 15px;
    color: white;
    border-radius: 3px;
    border: 1px solid white;
    height: 19px;
    justify-content: flex-end;
    min-width: 48px;
    flex-wrap: nowrap;
    white-space: nowrap;
  }
}

.boards {
  grid-column: 1 / span 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .card-list {
    text-align: center;
    text-transform: uppercase;
    font-family: $julius-sans-one;
    font-size: 14px;
  }

  .in-queue {
    grid-column: 1 / 2;
    grid-row-start: 1;

    h1 {
      justify-self: center;
    }

    .card {
      background-color: rgb(251, 242, 224);
      border: 1px solid rgb(238, 162, 10);
    }
  }

  .in-progress {
    grid-column: 2 / 3;
    grid-row-start: 1;

    h1 {
      justify-self: center;
    }

    .card {
      background-color: #e9fccf;
      border: 1px solid rgb(60, 99, 6);
    }
  }

  .done {
    grid-column: 3 / 4;
    grid-row-start: 1;

    h1 {
      justify-self: center;
    }

    .card {
      background-color: #f7f8fb;
      border: 1px solid rgb(13, 56, 184);
    }
  }

  ul {
    width: 100%;
    padding: 0;
    margin: 0;
    .card {
      list-style-type: none;
      border-radius: 3px;
      padding-left: 5%;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
  }
}
.test-button {
  font-size: 20px;
  color: gray;
  padding: 5px;
  margin: 20px;
}
.modals {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
}
.modal-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 200px;
  background: #fff;
  border-radius: 5px;
  min-width: 500px;
  position: relative;
}
.text {
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0;
  text-align: center;
}
.buttons {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}
.modal-button {
  font-size: 15px;
  color: gray;
  padding: 5px;
  border-radius: 5px;
}
.close {
  position: absolute;
  top: 10px;
  right: 0px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
}
.modal-content {
  background: rgba(193, 29, 29, 0.5);
  color: #fff;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
